.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 1.2rem;
  gap: 3px;
  padding-bottom: 3rem;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 50px;
}
.pagination-disabled:hover {
  cursor: default;
}

.pagination-disabled {
  color: rgb(198, 197, 202);
}
.page-num:not(.pagination-disabled):hover {
  background-color: #60c3eb;
  color: white;
}

.pagination .active {
  background-color: #003479;
  color: white;
}

@media screen and (max-width: 600px) {
  .pagination {
    font-size: 0.7rem;
    gap: 0.5px;
    width: 80%;
  }
}

@media screen and (min-width: 600px) {
  .App {
    display: flex;
    margin: 50px;
    justify-content: center;
  }
  .todolist {
    margin-left: 30px;
  }
}

.header,
.footer {
  height: 90px;
}
@media screen and (max-width: 600px) {
  .header,
  .footer {
    height: 50px;
    padding: 15px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
